<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Runa</title>
  <link rel="stylesheet" type="text/css" href="../resources/static/css/index.css">
</head>

<body>
  <div class="container">
    <div class="logo">
      <img id="logo" width="250" height="250" src="../resources/static/img/logo_white.png">
    </div>
    
    <div class="login">
      <button class="button"></button>
    </div>

    <div class="register">
      <button class="button"></button>
    </div>
  </div>
</body>

</html>
