<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Runa</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/record_speech.css') }}">
</head>
  <body>

    <form action="/stop_recording">
      <button class="mic_button"></button>
    </form>

    <div class="buttons_container">
      <form action="/responses">
        <button class="button end_conversation">end conversation</button>
      </form>
    </div>

    <footer>
      <form class="footer_form" action="/record_speech">
        <button>
          <div class="footer_tab">
          <img class="record" src="{{ url_for('static', filename='img/icon_mic_tab_purple.png') }}" alt="Record">
          <h6 class="record_text">Record</h6>
          </div>
        </button>
      </form>
      <form class="footer_form" action="/progress_vocab">
        <button>
          <div class="footer_tab">
            <img class="progress" src="{{ url_for('static', filename='img/icon_progress_tab_gray.png') }}" alt="Progress">
            <h6 class="progress_text">Progress</h6>
          </div>
        </button>
      </form>
    </footer>
  </body>
</html>
